/*-- scss:defaults --*/

$theme: "darkly" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #444 !default;
$gray-800: #303030 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #375a7f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #f39c12 !default;
$green:   #00bc8c !default;
$teal:    #20c997 !default;
$cyan:    #3498db !default;

$fuchsia: #EF2B7C !default;
$fuchsia2: #ff00ff !default;
$fuchent:   #e619e5 !default;
$fuchdark: #b814b8 !default;

// Body

$body-bg:                   $gray-900 !default;
$body-color:                $white !default;
@function body-mix($weight) {
    @return mix($body-bg, $body-color, $weight);
}

//$primary:       $blue !default;
//$secondary:     body-mix(85%) !default;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
// This is inconsistent with Bootstrap semantics. That is, $dark
// should actually be a light color in a dark mode setting, :shrug:
// https://github.com/thomaspark/bootswatch/issues/989
//$light:         body-mix(65%) !default;
//$dark:          body-mix(95%) !default;

//$min-contrast-ratio:   1.9 !default;

// Links

$link-color:                $cyan;
$hover-color: darken($link-color, 10%);
$visited-color: lighten($link-color, 10%);

//link styling
a{
  color: $link-color;
  text-decoration: none;
  
  &:hover{
    color: $hover-color;
  }
  
  &:visited{
    color: $visited-color;
  }
}

// headers

h3 {
  color: violet;
}





